{% extends 'base.html' %}

{% block title %}<i class="las la-file-alt"></i> Documents{% endblock %}

{% block content %}
<style>
    .drop-area {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
    }

    .drop-area.hover {
        background-color: #f0f0f0;
    }
</style>
<form action="{{ url_for('documents', id=current_folder_id)}}" method="post" enctype="multipart/form-data">
    <div id="drop-area" class="drop-area">
        <p>Drag and drop a file here to upload</p>
        <input type="file" name="file" style="display: none;">
    </div>
</form>

<script>
    const dropArea = document.getElementById('drop-area');
    const fileInput = dropArea.querySelector('input[type=file]');

    dropArea.addEventListener('click', () => fileInput.click());
    fileInput.addEventListener('change', handleFiles);

    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
    });

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, () => dropArea.classList.add('hover'), false);
    });

    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, () => dropArea.classList.remove('hover'), false);
    });

    dropArea.addEventListener('drop', handleDrop, false);

    function handleDrop(e) {
        const dt = e.dataTransfer;
        const files = dt.files;
        handleFiles(files);
    }

    function handleFiles(files) {
        fileInput.files = files;
        dropArea.closest('form').submit();
    }
</script>


<form action="{{ url_for('documents', id=current_folder_id)}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">

</form>


<div hx-get="{{ url_for('files_table') }}" hx-trigger="load">
    <div style="width: 100%; height: 100vh; display: flex; justify-content: center;">
        <img class="htmx-indicator" width="150" src=" {{ url_for('static', filename='images/bars.svg' )}}" />
    </div>
</div>
{% endblock %}